@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC);


.square-filter {
    float:left;
    position: relative;
    width: 21% !important;
    padding-bottom : 21% !important; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.img_1-1{background-image:url(../images/albums/sgt-peppers.jpg)!important;}

.img_1-2{background-image:url(../images/albums/satanic-majesties.jpg) !important;}

.img_1-3{background-image:url(../images/albums/thewhosellout.jpg)!important;}

.img_1-4{background-image:url(../images/albums/whitealbum.png)!important;}


.img_2-1{background-image:url(../images/albums/ledzeppelin.jpg)!important;}

.img_2-2{background-image:url(../images/albums/tommy.jpg)!important;}

.img_2-3{background-image:url(../images/albums/abbeyroad.jpg)!important;}

.img_2-4{background-image:url(../images/albums/ummagumma-hq.jpg)!important;}

.img_3-1{background-image:url(../images/albums/letitbleed.jpg)!important;}

.img_3-2{background-image:url(../images/albums/atomheartmother.png)!important;}

.img_3-3{background-image:url(../images/albums/ledzeppeliniii.jpg)!important;}

.img_3-4{background-image:url(../images/albums/stickyfingers.jpg)!important;}


li {
	margin: 0;
}

.programs,
.courses {
	margin: 8px 0 0 0;
}

.programs {
	font-size: 0;
	margin-bottom: 15px;
}

.programs button {
	outline: none;
	margin-bottom: 0;
	background: whitesmoke;
	width: 50%;
	height: auto;
	font-weight: normal;
	border: 1px solid #ededed;
	color: #000000;
	font-size: 14px;
	padding: 4px 0;
	text-shadow: 0px 0px 0px #2f6627;
}

.programs button:hover {
	background: #99cfe0;
}

.programs button.programs-filter-btn-active,
.programs button.programs-sort-btn-active {
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) inset, 0px 0px 1px transparent;
	        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5) inset, 0px 0px 1px transparent;
	background: #3a9fbf;
	color: white;
}

.courses {
	margin-bottom: 15px;
	font-size: 0;
	background: whitesmoke;
}

.courses li {
	text-align: center;
	font-size: 14px;
	display: inline-block;
	width: 46%;
	margin: 0 2%;
}

.courses a {
	display: block;
	height: 60px;
	margin: 15px 0;
	padding-top: 12.5px;
	background: whitesmoke;
	color: black;
	border: 1px solid white;
	-webkit-transition: all .4s ease;
	transition: all .4s ease;
}

.courses a:hover {
	background: #99cfe0;
}

.p, .p a {
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
}


/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (min-width: 750px) {

	.container {
		width: 95%;
	}

	.courses a {
		background: #EBEBEB;
		border: none;
	}

	


	.programs {
		margin-bottom: 0;
	}

	.programs button {
		width: 25%;
		margin-bottom: 15px;
	}

	.courses li {
		width: 21%;
	}

}

